In [31]:
from datetime import datetime
import time
import random

In [32]:
import pandas as pd
import numpy as np
import random

# Define the lists of data
product_name_list = ["Laptop", "Desktop Computer", "Mobile Phone", "Wrist Band", "Wrist Watch", "LAN Cable",
                     "HDMI Cable", "TV", "TV Stand", "Text Books", "External Hard Drive", "Pen Drive", "Online Course"]
order_card_type_list = ["Visa", "MasterCard", "Maestro"]
country_name_city_name_list = ["Sydney,Australia", "Florida,United States", "New York City,United States",
                               "Paris,France", "Colombo,Sri Lanka", "Dhaka,Bangladesh", "Islamabad,Pakistan",
                               "Beijing,China", "Rome,Italy", "Berlin,Germany", "Ottawa,Canada",
                               "London,United Kingdom", "Jerusalem,Israel", "Bangkok,Thailand",
                               "Chennai,India", "Bangalore,India", "Mumbai,India", "Pune,India",
                               "New Delhi,Inida", "Hyderabad,India", "Kolkata,India", "Singapore,Singapore"]
ecommerce_website_name_list = ["www.healthkart.com", "www.amazon.com", "www.flipkart.com", "www.snapdeal.com", "www.ebay.com"]

# Define the number of rows in the DataFrame
num_rows = 100

# Generate random data for each column
product_name = [random.choice(product_name_list) for _ in range(num_rows)]
order_card_type = [random.choice(order_card_type_list) for _ in range(num_rows)]
country_city = [random.choice(country_name_city_name_list) for _ in range(num_rows)]
order_country_name = [x.split(',')[1] for x in country_city]
order_city_name = [x.split(',')[0] for x in country_city]
order_amount = [round(np.random.uniform(10, 1000), 2) for _ in range(num_rows)]
order_datetime = [pd.Timestamp.now() - pd.to_timedelta(np.random.randint(1, 10000), unit='s') for _ in range(num_rows)]
order_datetime = [ts.round(freq='s') for ts in order_datetime]
order_ecommerce_website_name = [random.choice(ecommerce_website_name_list) for _ in range(num_rows)]
order_id = list(range(1, num_rows+1))

# Create the pandas DataFrame
df = pd.DataFrame({
    'order_id': order_id,
    'order_product_name': product_name,
    'order_card_type': order_card_type,
    'order_amount': order_amount,
    'order_datetime': order_datetime,
    'order_country_name': order_country_name,
    'order_city_name': order_city_name,
    'order_ecommerce_website_name': order_ecommerce_website_name
})

In [33]:
df.to_csv('data.csv')

In [34]:
df

,order_id,order_product_name,order_card_type,order_amount,order_datetime,order_country_name,order_city_name,order_ecommerce_website_name
0,1,TV,Visa,101.43,2023-03-31 12:26:11,India,Bangalore,www.healthkart.com
1,2,Desktop Computer,Maestro,129.62,2023-03-31 12:01:25,India,Chennai,www.flipkart.com
2,3,Online Course,MasterCard,463.08,2023-03-31 13:27:28,Germany,Berlin,www.ebay.com
3,4,Desktop Computer,Visa,314.28,2023-03-31 13:46:16,India,Kolkata,www.ebay.com
4,5,Online Course,Maestro,318.74,2023-03-31 11:58:16,Canada,Ottawa,www.amazon.com
...,...,...,...,...,...,...,...,...
95,96,HDMI Cable,Maestro,697.96,2023-03-31 13:48:52,France,Paris,www.snapdeal.com
96,97,LAN Cable,Maestro,288.56,2023-03-31 13:04:38,Bangladesh,Dhaka,www.amazon.com
97,98,Laptop,Maestro,320.90,2023-03-31 12:27:06,Inida,New Delhi,www.flipkart.com
98,99,Wrist Watch,MasterCard,319.37,2023-03-31 12:46:48,United States,New York City,www.ebay.com
99,100,Mobile Phone,Maestro,84.34,2023-03-31 12:51:02,Israel,Jerusalem,www.amazon.com